<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionParking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>gestion del parking</description>
    <display-name>GestionParking</display-name>
    <servlet-name>GestionParking</servlet-name>
    <servlet-class>com.zubiri.Parking.GestionParking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionParking</servlet-name>
    <url-pattern>/GestionParking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestiorParking</display-name>
    <servlet-name>GestiorParking</servlet-name>
    <servlet-class>GestiorParking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestiorParking</servlet-name>
    <url-pattern>/GestiorParking</url-pattern>
  </servlet-mapping>
</web-app>